body {
	background-color: lightgrey;
	height: auto;
	width: auto;
}
#websiteContainer {
	display: flex;
}
h1 {
	text-align: center;
	justify-content: center;
	padding: 30px;
	background-color: aliceblue;
}

nav {
	text-align: end;
}

.navButton {
	width: 40px;
	background-color: brown;
	box-shadow: 2px;
}

table {
	border: 1px solid black;
	margin: 5%;
	width: 90%;
	height: 30%;
}

tr,
th,
td {
	height: 20%;
	border: 1px solid black;
}
